<div>
    <div>id:<input [ngModel]="employe.id" readonly /></div>
    <div>nom:<input [(ngModel)]="employe.nom" /></div>
    <div>prenom:<input [(ngModel)]="employe.prenom" /></div>
    <div>manager:<input [(ngModel)]="employe.manager" /></div>
    <div>service:<input [(ngModel)]="employe.servicedp" /></div>
    <div>compte:<input [(ngModel)]="employe.compte" /></div>   
    <div>
      <button (click)="save()">enregistrer</button>
      <button [routerLink]="['/employe']" routerLinkActive="active">
        retour
      </button>
    </div>
  </div>